/*Need to re work a lot of this for grid*/
:root{
    --grid-gutter: .75rem;
    --grid-margin: 2.25rem;
    --grid-full: 3rem;
}

body {
    display: grid;
    align-items: start;
    place-items: center;
    animation: backgroundChange 15s infinite;
    background-size: cover;           
    background-position: center;        
    background-repeat: no-repeat;       
    margin: 0;
    height: 100vh;  
    margin-top: 15px;
    width: 100%;
}


.container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;

}

.box{
    box-sizing: border-box;
    height: 100vh;
}

.box-image {
    width: 50%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

h1{
    font-family: 'Gill Sans MT',   sans-serif;
    font-size: 80px;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 0 7px #FFFFFF;
    margin-top: 5px;

}

p{
    grid-row: 1;
    color: red;
    font-size: 12px;
    padding: 8px 12px; 
}

.heading-container{
    align-items: center;
    display: flex;
    position: relative;
}

.heading-container ul{
    margin: 0px;
}


ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
}

ul li{
    flex: 1;
}


.buttons {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'Pro Racing Slant Outline', sans-serif;  /* Use DashHorizon for the nav links */
    font-size: 1.2em;
    border-radius: 0;  /* Remove borders from individual buttons */
    transition: background-color 0.3s ease;
    width: 100%; /* Take up 100% of the space of their parent container */
}


li a{
    display: block;
    color: white;
    text-align: center;
    padding: 5px 60px;
    text-decoration: none;
}

li a:hover{
    background-color: #808080;
}

.active{
    background-color: coral;
} /* this is meant to show the menu that your on */

@keyframes backgroundChange {
    0%{
        background-image: url(Wallpaper1SuperCar.jpg);
    }
    33%{
        background-image: url(Wallpaper2SuperCar.jpg);
    }
    66%{
        background-image: url(Wallpaper3SuperCar.jpg);
    }
    100%{
        background-image: url(Wallpaper1SuperCar.jpg);
    }
}


.info-box {
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 30%;
}

.info-box h2 {
    font-size: 24px;             
    color: #333;                
    margin-bottom: 10px;        
}

.info-box p {
    font-size: 16px;            
    color: #555;               
    line-height: 1.6;           
}


.body-container{
    gap: 0px;
}

/*removed bg section, as it wasn't used*/
body.contact{
    background: none;
    animation: none;    
    display: grid; 
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    place-items: center; 
    align-content: center;
    justify-content: center;
}

body.contact h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-shadow: none;
    top: 0%;
    color: #000000;
    grid-row: 1;
}

body.contact p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    grid-row: 1; 
}

body.contact h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 35px;
    grid-row: 1;
}


body.contact h3{
    font-size: 15px;
    text-align: center;
    font-weight: 400; 
    margin-bottom: 80px;
    margin-top: -20px;
    grid-row: 1;
}



* {box-sizing:border-box}

.slideshow-container {
    display: grid; 
    grid-template-rows: auto 1fr auto; 
    grid-template-columns: 1fr; 
    max-width: 500px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
    grid-row: 1;
    width: 100%;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); /*center adjustment*/ 
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #7e7e7e;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    grid-row: 1; 
    color: rgb(255, 0, 0);
    font-size: 15px;
    padding: 8px 12px;
    text-align: center;
  }
  
  .numbertext {
    grid-row: 1; 
    justify-self: start;
    color: red;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot-container{
    grid-row: 1;
    text-align: center;
    margin-top: 15px;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
     
  .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.icon{
    object-position: top left;
    width: 40px;
    height: 40px;
    grid-row: 1;
}

.car-short-des{
    display: grid;
    margin-left: calc(var(--grid-full)* -1);
    margin-right: calc(var(--grid-full)* -1);
    max-width: 120rem;
    width: calc(100% + var(--grid-full) * -1);


}

.custom-link:link {
    color: initial;
    text-decoration: none;
}

.custom-link:visited {
    color: initial;
    text-decoration: none;
}

.custom-link:hover {
    color: blue;
    text-decoration: underline;
}

.custom-link:active {
    color: red;
}


.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--grid-gutter);
}

.footer-container {
    max-width: 1200px;
    margin: auto; /* Center footer content */
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.footer a {
    color: #fff; /* White links */
    text-decoration: none; /* No underline */
    font-size: 16px;
    margin: 0 10px;
}

.footer a:hover {
    color: #ff7350; /* Highlight color on hover */
}

.footer i {
    margin-right: 8px; /* Space between icon and text */
}


.footer p{
    font-size: 30px;
}



.box-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
}


#slide-number {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.modelFerrari{
    text-align: center;
    background-image: url('LamboBackground.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the whole section */
    background-position: center; /* Centers the image */
    padding: 60px 20px;
    color: white;
    height: 600px;
    margin-top: 10vh;
}

.modelFerrari-title{
    font-size: 48px;
    font-weight: bold;
    color: white;

}